.oculto { display: none; }

.ok {
  display: block;
  color: #0a0;
  font-weight: bold;
  margin: 15px 0;
}

.error {
  display: block;
  color: #c00;
  font-weight: bold;
  margin: 15px 0;
}
#mensaje .error .ok{
    display: flex;
    box-shadow: 15px 15px 15px 15px #ccc;
    text-align: center;
    border-radius: 4px;
    padding: 0px 4px 4px;
    width: 60%;
    margin: 50px auto;
}